body {
  display: flex;
  background: lightgray;
  height: 100vh;
  margin: 0px;
  --entry-width: 16rem;
}

div {
  flex: 1;
}

#sidebar {
  background: lightblue;
  background-image: url("images/guillaume-briard-lSXpV8bDeMA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sidebar > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  top: -30vh;
}

#sidebar p {
  text-align: center;
  margin-bottom: 24px;
  padding: 8px 12px;
  width: fit-content;
  background: rgba(47, 79, 79, 0.5);
  border-radius: 4px;
}

#sidebar p, #sidebar a {
  color: white;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  height: 15vh;
  width: 100%;
  background: rgba(47, 79, 79, 0.5);
}

#logo img {
  height: 15vh;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 3;
}

form {
  display: flex;
  flex-direction: column;
  flex: 3;
}

form > div:first-child {
  display: flex;
  flex-direction: column;
  background: white;
  flex: 2;
}

h2 {
  margin-left: 32px;
  flex: 0;
}

#entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 0px 32px 32px;
  flex: 1;
}

#entry div {
  display: flex;
  justify-content: space-between;
  width: calc(2.5 * var(--entry-width))
}

#entry div div {
  display: flex;
  flex-direction: column;
}

#entry div:first-child div {
  justify-content: start;
}

#entry div:nth-child(2) div {
  justify-content: center;
}

#entry div:last-child div{
  justify-content: end;
}

#entry input {
  width: var(--entry-width);
}

form > div:last-child {
  margin: 32px;
}